:root {
    --bg: #0f172a;
    --text: #e5e7eb;
    --card: #020617;
    --accent: #38bdf8;
}

.light {
    --bg: #f8fafc;
    --text: #0f172a;
    --card: #e5e7eb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--bg);
    color: var(--text);
    transition: .4s;
}

/* LOADER */
#loader {
    position: fixed;
    inset: 0;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #334155;
    border-top: 5px solid var(--accent);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* NAVBAR */
header {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, .4);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
}

.nav-link a {
    margin-right: 20px;
    text-decoration: none;
    color: var(--text);
}

.nav-link button {
    padding: 5px 10px;
    cursor: pointer;
}

/* CONTENT */
section {
    min-height: 100vh;
    padding: 120px 10%;
}

.hero h1 span {
    color: var(--accent);
}

.card {
    background: var(--card);
    padding: 25px;
    border-radius: 20px;
    margin: 20px 0;
}

input,
textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

footer {
    text-align: center;
    padding: 20px;
    background: var(--card);
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

.hero-text {
    max-width: 600px;
}

.hero-img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    padding: 6px;
    background: linear-gradient(135deg, var(--accent), #818cf8);
    animation: float 4s ease-in-out infinite;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--bg);
}

/* ANIMASI MELAYANG */
@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

/* RESPONSIVE */
@media(max-width:768px) {
    .hero {
        text-align: center;
        justify-content: center;
    }
}